* {
    margin: 0;
    box-sizing: border-box;
}

h1, h2 {
    line-height: 1.1;
    text-wrap: balance;
}

img {
    display: block;
    max-width: 100%;
}

:root {
    --clr-azureRadiance50: #edfaff;
    --clr-azureRadiance100: #d6f3ff;
    --clr-azureRadiance200: #b5ebff;
    --clr-azureRadiance900: #0d549b;
    --clr-azureRadiance950: #0e335d;
    --ff-happyMonkey: "Happy Monkey", serif;
    --ff-fredoka: 'Fredoka', sans-serif;
}

body {
    font-family: var(--ff-fredoka);
    background: var(--clr-azureRadiance50);
    line-height: 1.5;
}

.hero {
    min-height: 65dvh;
    background: url(/images/ariccia-one.jpg) no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.hero__content {
    margin-inline: auto;
    padding: 1.5em;
    backdrop-filter: blur(2px) saturate(180%);
    -webkit-backdrop-filter: blur(2px) saturate(180%);
    background-color: rgba(237, 250, 255, 0.35);
    border-radius: .75rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.hero h1 {
    color: var(--clr-azureRadiance950);
    font-size: 3.5rem;
    margin-block-end: 1rem;
}

.hero h2 {
    color: var(--clr-azureRadiance900);
    font-size: 2rem;
}

.activities {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    gap: 2rem;
    justify-content: center;
    margin-inline: auto;
    margin-block-start: 5.625rem;
}

.activities__card {
    background: var(--clr-azureRadiance100);
    border-radius: 1rem;
    overflow: hidden;
    transition: all 0.15s linear;
    max-width: 20rem;

    & img {
        min-height: 20dvh;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        -webkit-box-shadow: 15px 15px 10px -1px rgba(14,51,93,0.25);
        -moz-box-shadow: 15px 15px 10px -1px rgba(14,51,93,0.25);
        box-shadow: 15px 15px 10px -1px rgba(14,51,93,0.25);
    }
}

.activities__card-content {
    padding: 1em 1.5em;

    & h2 {
        color: var(--clr-azureRadiance950);
        margin-block-end: 1rem;
        font-size: 1.3rem;
    }

    & p {
        color: var(--clr-azureRadiance900);
        font-size: .9rem;
        text-wrap: pretty;
    }
}

.guide {
    background: var(--clr-azureRadiance100);
    margin-block-start: 5.625rem;
    padding-block: 5.625rem;
}

.guide__card {
    background: var(--clr-azureRadiance50);
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    padding: 1.5em;
    max-width: 26.25rem;
    border-radius: 1rem;

        &:hover {
        cursor: pointer;
        transform: scale(1.05);
        -webkit-box-shadow: 15px 15px 10px -1px rgba(14,51,93,0.25);
        -moz-box-shadow: 15px 15px 10px -1px rgba(14,51,93,0.25);
        box-shadow: 15px 15px 10px -1px rgba(14,51,93,0.25);
    }
}

.guide__card-img-container {
    background: var(--clr-azureRadiance100);
}

.guide__card-content {

    & h2 {
        color: var(--clr-azureRadiance950);
        margin-block-end: 1rem;
        font-size: 1.3rem;
    }

    & p {
        color: var(--clr-azureRadiance900);
        font-style: italic;
    }

    & p:has(b) {
        color: var(--clr-azureRadiance950);
        margin-block-start: 1rem;
        font-style: normal;
    }
}